.cuve {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .top {

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: 70%;
        width: 100%;

        .cylindre-container {
            width: 100% !important;
            height: 100% !important;
            display: flex;
            justify-content: space-around;
        }
    }

    .tank {
        height: 30%;
        width: 100% !important;
        position: relative;
        transform-origin: bottom center;
        background-color: var(--background-alt); /*rgba(255, 255, 255, 1);*/
        border-style: solid;
        border-color: var(--border); /* rgba(231, 231, 231, 1);*/
        border-width: 0.5rem;
    }
}